name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update
          # Removed libtinfo5 and added libtinfo6 + libncurses6 for Ubuntu 24.04 compatibility
          sudo apt-get install -y build-essential libffi-dev git zip unzip openjdk-17-jdk autoconf libtool pkg-config zlib1g-dev libncurses6 libncursesw6 libtinfo6 cmake libssl-dev
          pip install --user --upgrade buildozer cython==0.29.36 virtualenv

      - name: Build APK with Buildozer
        run: |
          export PATH=$PATH:$HOME/.local/bin
          # This command ensures we accept all Android SDK licenses
          yes | buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: BookingApp-Debug-APK
          path: bin/*.apk
